{{ define "public/register" }}
{{ template "public/header" . }}
<div id="box">
    {{ if .Config.Service.RegistrationEnabled }}
    <div class="content">
        <h1>Excellent! Let's get you started.</h1><br>
        <p>Just fill out the simple form below and you'll be <strong>{{ .Config.Service.Name }}ing</strong> files around in no time!</p><br>
        <p>Make sure your email is correct!</p><br>
        <p>By signing up for <strong>{{ .Config.Service.Name }}</strong>, you acknowledge that you have read and will abide by our <a href="/tos">Terms of Service</a>.</p>
        <div id="rego_form">
            <form action="/register/go" method="post" accept-charset="utf-8">
                <table border="0" cellspacing="5" cellpadding="5">
                    <tbody>
                        <tr>
                            <td><label for="email">email</label></td>
                            <td><input type="text" name="email" value="" id="email"></td>
                        </tr>
                        <tr>
                            <td><label for="password">password</label></td>
                            <td><input type="password" name="password" value="" id="password"></td>
                        </tr>
                        <tr>
                            <td><label for="confirm_password">confirm password</label></td>
                            <td><input type="password" name="confirm_password" value="" id="confirm_password"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Continue →"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    {{ else }}
    <p>{{ .Config.Service.Name }} has been running out of our pockets since 2014 (since paypal deactivated our account, classifying us as a "file sharing service", against their terms of service). With an ever-increasing userbase, the costs involved in keeping {{ .Config.Service.Name }} running have escalated beyond $1000/month.</p>
    <br>
    <p>We do not have the spare time to maintain this service to a point we would be willing to consider other means of receiving money (such as Patreon), but at the same time are financially unable to continue supporting growth of the service.</p>
    <br>
    <p>As such, we have made the decision to disable new user registrations for the time being. <b>Existing users will be unaffected by this change for now</b> (given fair use of the service).</p>
    <br>
    <p>Thanks for enjoying {{ .Config.Service.Name }}!</p>
    {{ end }}
</div>
{{ template "public/footer" . }}
{{ end }}